.separador{
    padding: 1.65rem;
    background-color: #f3f3f3;
}

.separador__titulo{
    text-align: center;
    color: #1E1E1E;
    font-family: Montserrat, SemiBold;
    font-size: 1.5rem;
}

.separador__botones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.separador__boton{
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {    
    .separador__titulo{
        font-size: 2.5rem;
    }
    
    .separador__botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
    }

    .separador__boton{
        margin-left: 2.5rem;
    }
}