.banner {
    position: inherit;
    max-width: 100%;
}

.banner__imagen {
    background: url("../../img/felipe-galvan-AhfrA5VQNpM-unsplash.jpg") no-repeat center / cover;
}

.banner__titulo {
    color: var(--fuente-blanco);
    font-family: Pacifico, cursive;
    position: absolute;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75); 
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner__subtitulo{
    color: var(--fuente-blanco);
    font-family: Montserrat, Bold;
    text-transform: uppercase;
    position: absolute;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    transform: translate(-50%, 8rem);
}

@media screen and (min-width: 0) {
    .banner__imagen {
        height: calc(100vh - 100px);
        width: 114%;
        margin-left: -23px;
    }
    .banner__titulo {
        font-size: 2.5rem;
        top: 36%;
        left: 60%;
    }
}

@media screen and (min-width: 768px) {
    .banner__imagen {
        height: calc(100vh - 100px);
        width: 114%;
        margin-left: -47px;
    }
    .banner__titulo {
        font-size: 5.0625rem;
    }
    .banner__subtitulo{
        top: 52%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__imagen{
        height: calc(100vh + 10rem);
        width: 106.9%;
        margin-left: -47px;
    }

    .banner__titulo{
        top: 50%;
        left: 70%;
    }

    .banner__subtitulo{
        top: 40%;
        left: 70%;
    }
}