:root {
    
    --background-blanco: #fcfcfc;
    --background-ceniza-claro: #F7F4F4;
    --background-crema: #f4eddd;
    

    --fuente-ceniza-oscuro: #1E1E1E;
    --fuente-negro: #0e0d0d;
    --fuente-blanco: #fdfdfd;

    --banner-titulo: 0 4px 4px #000000bf;
    --banner-subtiulo: 0 4px 4px #000000bf;

    --background-footer: #E4E4E4;

    --montserrat: 'Montserrat', sans-serif;
    --montserrat-Bold: 'Montserrat', Bold;
    --montserrat-SemiBold: Montserrat, SemiBold;
    --pacifico-Cursive: 'Pacifico', cursive;
}

body {
    font-family: var(--montserrat);
    background: var(--background-ceniza-claro);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/10);
        padding-right: calc((100% - 940px)/10);
    }
}
