.footer{
    background: var(--background-footer);
    padding: 16px 0;
    clear: both;
    max-width: 100%;
}
.footer_secciones{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.redesSociales{
    display: inline-flex;
    justify-content: center;
    width: 70px;
    height: 25px;
}

.suscribete__titulo{
    padding: 1rem;
}

.suscribete__botones{
    padding: 0rem 2rem;
}

.footer__ayuda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

.ayuda__texto{
    padding: 0.2rem;
}

.footer_derechos{
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .footer_secciones{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }

    .redesSociales{
        margin-top: 10%;
        width: 70px;
        height: 25px;
        background-size: auto 20%;
    }

    .suscribete__botones{
        padding: 0rem;
    }
    
    .footer__ayuda{
        margin-bottom: 0%;
    }
}