.head {
    color: var( --fuente-negro);

    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    position: absolute;
    background-color: var(--background-blanco);
    max-width: 100%;
    z-index: 100;
}

.head__logo {
    display: none;
}

.head__navegacion, .head__sesion{
    text-align: center;
}

.head__enlace {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
}

@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        border: none;
        display: grid;
        grid-template-columns: 20% 33% 33%;
        color: var( --fuente-negro);
    }

    .head__logo {
        margin-bottom: .5rem;
        max-width: 40%;
        display: flex;
        justify-self: center;
    }

    .head__navegacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-self: center;
    }
    .head__sesion{
        display: flex;
        justify-content: end;
    }
}